.DS_Store

application/config/config.php
application/config/database.php

assets/uploads/images/announcement/*
!assets/uploads/images/announcement/.gitkeep
assets/uploads/images/announcement/thumbnail/*
!assets/uploads/images/announcement/thumbnail/
!assets/uploads/images/announcement/thumbnail/.gitkeep

assets/uploads/images/post/*
!assets/uploads/images/post/.gitkeep
assets/uploads/images/post/thumbnail/*
!assets/uploads/images/post/thumbnail/
!assets/uploads/images/post/thumbnail/.gitkeep

assets/uploads/images/service/*
!assets/uploads/images/service/.gitkeep
assets/uploads/images/service/thumbnail/*
!assets/uploads/images/service/thumbnail/
!assets/uploads/images/service/thumbnail/.gitkeep

assets/uploads/images/sliders/*
!assets/uploads/images/sliders/.gitkeep
assets/uploads/images/sliders/thumbnail/*
!assets/uploads/images/sliders/thumbnail/
!assets/uploads/images/sliders/thumbnail/.gitkeep

assets/uploads/images/gallery/*
!assets/uploads/images/gallery/.gitkeep
assets/uploads/images/gallery/thumbnail/*
!assets/uploads/images/gallery/thumbnail/
!assets/uploads/images/gallery/thumbnail/.gitkeep

assets/uploads/images/users/*
!assets/uploads/images/users/.gitkeep
assets/uploads/images/users/thumbnail/*
!assets/uploads/images/users/thumbnail/
!assets/uploads/images/users/thumbnail/.gitkeep

assets/uploads/file/*
!assets/uploads/file/.gitkeep
assets/uploads/file/thumbnail/*
!assets/uploads/file/thumbnail/
!assets/uploads/file/thumbnail/.gitkeep


application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
